<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927451605628-qbjhonpma0e6jnudb46tieqfrvrd914m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927451605628-qbjhonpma0e6jnudb46tieqfrvrd914m</string>
	<key>API_KEY</key>
	<string>AIzaSyCvVHkxzWhHxAllItpWldofm3nODpIRJL0</string>
	<key>GCM_SENDER_ID</key>
	<string>927451605628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ssong.villageboard</string>
	<key>PROJECT_ID</key>
	<string>villageboard-74c6b</string>
	<key>STORAGE_BUCKET</key>
	<string>villageboard-74c6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927451605628:ios:1c4a9b2af44f0a7d1977f9</string>
	<key>DATABASE_URL</key>
	<string>https://villageboard-74c6b.firebaseio.com</string>
</dict>
</plist>